#!/bin/bash

###################################################################################
# If you are on arch based distro - make sure you are installed the next packages:
#
# 1 - uutils-coreutils https://uutils.github.io/
# 2 - ripgrep https://github.com/BurntSushi/ripgrep
# 3 - bat https://github.com/sharkdp/bat
# 4 - btop https://github.com/aristocratos/btop
# 5 - lsd https://github.com/lsd-rs/lsd
###################################################################################

OS=`cat /etc/os-release 2>/dev/null | grep '^ID=' | tr -d '"' | awk -F'=' '{print $2}'`

common_aliases() {
    # Ansible
    alias ap='ansible-playbook'
    alias av='ansible-vault'
    # Docker
    alias dclean='docker ps -a | grep Exited | awk '\''{print }'\'' | xargs -r docker rm >/dev/null 2>&1 && docker images --no-trunc | grep none | awk '\''{print }'\'' | xargs -r docker rmi >/dev/null 2>&1'
    alias di='docker images'
    alias dl='docker logs'
    alias dr='docker rm --force `docker ps -qa`'
    alias drm='docker rm'
    alias ds='docker ps -a'
    alias dstop='docker stop'
    # Git
    alias gp='git pull'
    alias gpreb='git pull --rebase'
    alias gprec='git pull --recurse-submodules'
    # SSH/SCP
    alias scp='scp -o "StrictHostKeyChecking no" -o "UserKnownHostsFile /dev/null"'
    alias ssh='ssh -o "StrictHostKeyChecking no" -o "UserKnownHostsFile /dev/null"'
    # Python
    alias pip_update='pip list --outdated --format=freeze | grep -v '\''^\-e'\'' | cut -d = -f 1  | xargs -n1 pip install -U'
    # Other
    alias egrep='egrep --colour=auto'
    alias fgrep='fgrep --colour=auto'
    alias tf='tail -f'
    alias more='less'
    alias pj='ps -ef | grep java'
    alias pn='ping -c4 8.8.8.8'
    alias hp='hg pull && hg up'
    # Journal
    alias sdr='sudo systemctl daemon-reload'
    alias jctl="journalctl -p 3 -e"
}

manjaro_aliases() {
    alias cat='bat -pp'
    alias cp='uu-cp -ig'
    alias df='uu-df -h'
    alias du='uu-du'
    alias free='uu-free -m'
    alias grep='rg -i'
    alias mv='uu-mv -g'
    alias ls='lsd -N --color=always'
    alias ll='ls -la --color=always --group-directories-first'
    alias lh='ls -lah --color=always --group-directories-first'
    alias lt='lsd --tree --color=always --group-directories-first'
    alias top='btop'
    alias mp='msedit PKGBUILD'
    alias r='rg . | fzf'
    alias p='fzf --preview "bat --color=always {}"'
}

std_aliases() {
    alias lh='ls -lah --color=auto'
    alias ll='ls -l --color=auto'
    alias ls='ls --color=auto'
    alias lt='tree'
    alias cp='cp -i'
    alias mv='mv -i'
    alias free='free -m'
    alias df='df -h'
    alias grep='grep --color=auto'
}

case ${OS} in
    manjaro | arch)
        common_aliases
        manjaro_aliases
    ;;
    *)
        common_aliases
        std_aliases
    ;;
esac
