#!/bin/bash

export QT_QPA_PLATFORMTHEME="qt5ct"
export QT_AUTO_SCREEN_SCALE_FACTOR=0
export QT_DEVICE_PIXEL_RATIO=1.5

export GDK_SCALE=1.5
export GDK_DPI_SCALE=0.5

export HISTCONTROL=ignoreboth
export HISTSIZE=8000

export EDITOR=mcedit

export PROMPT_COMMAND=ds_prompt

export MANROFFOPT='-c'
export MANPAGER="sh -c 'col -bx | bat -l man -p'"

export _JAVA_OPTIONS="-Dawt.useSystemAAFontSettings=on -Dswing.aatext=true -Dswing.defaultlaf=com.sun.java.swing.plaf.gtk.GTKLookAndFeel -Dswing.crossplatformlaf=com.sun.java.swing.plaf.gtk.GTKLookAndFeel ${_JAVA_OPTIONS}"
